$color-picker-height: 20px;
$color-picker-input-width: 90px;
$color-picker-rows: 14;
$color-picker-item-size: 20px;

od-color-picker {

    display: inline-block;

    height: $color-picker-height;
    width: $color-picker-height + $color-picker-input-width;

    .selection {
        position: relative;
        height: $color-picker-height;
        width: 100%;
        height: 3.8rem;
        margin-bottom: 1.5rem;
        cursor: pointer;

        &-input {
            // width: 110px;
            text-align: center;
            border: 0;
            border-bottom: 2px solid #cfcfcf;
        }

        &-preview {
            display: block;

            position: absolute;
            bottom: 0px;
            right: 5px;

            height: $color-picker-height;
            width: $color-picker-height;

            border: .1rem solid #ccc;
            // margin-top: 1.1rem;
        }
    }

    .picker {
        @extend .clearfix;

        position: absolute;
        background: black;
        width: $color-picker-rows * $color-picker-item-size + 4px;
        padding: 2px;

        z-index: 5010;
    }
    
    .picker-item {
        display: block;
        cursor: pointer;
        float: left;
        width: $color-picker-item-size;
        height: $color-picker-item-size;
    }
}