od-dashboard {
  display: block;
  padding-bottom: $gutter;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

od-dashboard-home-component {
  display: block;
  padding: $gutter 0;
}

.od_dashboard {
  &__empty {
    text-align: center;
    &__message {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: $gutter;
      >span {
        // display: inline-block;
        // transform: rotate(90deg);
      }
    }
  }
}