od-notification {
    display: block;
    position: fixed;
    top: 60px;
    right: $gutter;
    z-index: 6000;
    ul,
    li {
        list-style: none;
        display: block;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        padding: 10px;
        margin-top: $gutter;
        border: 1px solid #bce8f1;
        border-radius: 4px;
        color: #31708f;
        background: #d9edf7;
        font-size: .8em;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        cursor: pointer;
        transition: all .5s ease-in-out;

        @each $name, $color in $colors {
            &.notification--#{$name} {
                background: map-get($color, 'background');
                color: map-get($color, 'font');
                border-color: map-get($color, 'background-hover');
            }
        }
    }
}
