od-select-item {
    display: block;
    $steps: 4;
    $gutter: 16px;
    $modal-padding: 20px;
    $active-color: $primary;
    $eud-selection-height: 60px;
    $eud-nav-item-count: 4;
    $eud-nav-border: 4px;
    $eud-nav-div: 80px;
    $eud-nav-height: 60px;
    $eud-nav-inline-gap: 4px;
    $eud-nav-grey: #d6d6d6;
    $eud-nav-active: $active-color;
    $eud-nav-done: $primary;
    $eud-nav-after: $eud-nav-grey - #444;
    $eud-footer-height: 60px;
    .od-select-item {
        background: white;
        &__item {
            height: $eud-selection-height;
            line-height: $eud-selection-height; // margin-bottom: $gutter/2;
            border: 1px solid rgba(0, 0, 0, .1);
            &:hover {
                background: rgba(0, 0, 0, .02);
            }
            &:not(:last-child) {
                border-bottom-width: 0px;
            }
            &__name {
                margin: 0 $eud-selection-height;
                height: $eud-selection-height;
                padding: 0 $gutter;
                i {
                    color: rgba(0, 0, 0, .4);
                    margin-left: 4px;
                }
            }
            &__check {
                float: right;
                height: $eud-selection-height;
                width: $eud-selection-height;
                padding: 0 $gutter/2;
                text-align: right;
                font-size: 1.2em;
                color: $active-color;
                i {
                    height: $eud-selection-height;
                    line-height: $eud-selection-height;
                }
            }
            &__icon {
                float: left;
                height: $eud-selection-height;
                width: $eud-selection-height;
                padding: $gutter/2;
                img {
                    padding: $gutter/2;
                    background: rgba(0, 0, 0, .05);
                    border-radius: 50%;
                    border: 1px solid rgba(0, 0, 0, .1);
                }
            }
        }
        &--clear:after {
            content: "";
            display: table;
            clear: both;
        }
        &--active {
            color: $active-color;
        }
    }
}
